{% extends "/base.html.twig" %}

{% block body %}
	<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="{{asset('assets/img/bg/bg3.jpg')}}" data-speed="0.7">
		<div class="section-inner text-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 mt30 wow">
						<h2 class="section-heading">Connexion</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="section-inner text-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-body">

										<h1>Reset your password</h1>

										{{ form_start(resetForm) }}
										{{ form_row(resetForm.plainPassword) }}
										<button class="btn btn-primary">Reset password</button>
										{{ form_end(resetForm) }}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
